img{
   width: 40px; 
   height:32px ;
   gap: 8px;
   
}

table,tr,td{
align-items: center;
width: 1100px;

}
.fa-pen-to-square{font-size: 27px;
color: #624DE3;}

.pro{
    width: 71px;
    height: 31px;
    border-radius: 22px;
    background-color:#FEF2E5;
color: #CD6200;
padding: 8px 12px 8px 12px;
width: 47px;
height: 15px;
display: flex;
    align-items: center;
    justify-content: center;
}

.canc{
    width: 81px;
    height: 31px;
    border-radius: 22px;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    background-color: #FBE7E8;
    color:  #A30D11;
    width: 57px
    ;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.del{
    width: 83px;
    height: 31px;
    border-radius: 22px;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    background-color: #EBF9F1;
    color: #1f9254;
    width: 59px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.purp{
    width: 1100px;
    height: 64px;
    padding: 16px;
    gap: 16px;
    background-color: #F7F6FE;
    display: flex;
    align-items: center;
}
.class{
    width: 1100px;
    height: 64px;
    padding: 16px;
    gap: 16px;
    display: flex;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.show{
    width: 1100px;
    height: 64px;

}
.first-line{
    height: 31px;
    width: 43px;
    border-radius: 8px;
    padding: 8px 9px 8px 9px;
    gap: 4px;
}
input{
    height: 32px;
    width: 218px;
    border-radius: 8px;
    padding: 8px 9px 8px 9px;
    gap: 8px;

}
.add{
width: 139px;
height: 32px;
border-radius: 8px;
padding: 8px 12px 8px 12px;
gap: 8px;
background-color: #624DE3;
float: right;
}
.number{
    height: 31px;
    width: 31px;
    border-radius: 8px;
    padding: 8px 9ox 8px 9px;
    gap: 4px;
    background-color: #624DE3;
}
.numbers{
    height: 31px;
    width: 31px;
    border-radius: 8px;
    padding: 8px 9ox 8px 9px;
    gap: 4px;
}

.fa-trash-alt{
    color: #A30D11;
}
i{
    padding: 7px;
}
.prev{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 63px;
    top: 1307px;
    left: -1130px;
    padding: 16px;
    gap: 668px;
    background-color: #FFFFFF;
}
.pre{
    display: flex;
    align-items: center;
    justify-content: center; 
}
th{
    top: 786px;
    left: -1130px;
    width: 1100px;
    height: 49px;
    padding: 16px;
    gap: 16px;
}
span{
    padding-left: 10px;
    width: 80.75px;
    height: 17px;
    
}